<ul>
    <li><button [routerLink]="['entire-response']">Entire Response</button></li>
    <li><button [routerLink]="['non-json-data']">Non JSON Data</button></li>
    <li><button [routerLink]="['query-params']">Query Params</button></li>
    <li>
        <button [routerLink]="['request-progress']">Request Progress</button>
    </li>
    <li>
        <button [routerLink]="['debouncing-interaction']">
            Debouncing Interaction
        </button>
    </li>
    <li>
        <button [routerLink]="['debouncing-interaction-form']">
            Debouncing Interaction Form
        </button>
    </li>
    <li>
        <button [routerLink]="['delete-with-body']">Delete With Body</button>
    </li>
</ul>

<router-outlet></router-outlet>
